{{> layout/header}}

<body>

    {{> layout/navbar}}


{{#trainer}}
<div class="container">
    <h1 class="pt-md-5 pb-md-5">{{name}}</h1>

    <div class="card-deck">
        {{#team}}{{#type}} <!--1-->
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{name}} <!--2--><span class="badge badge-secondary">Id {{id}} <!--3--></span></h4>
                </div>
                <img class="card-img-top" src="{{sprites.front_default}}" alt="Pokemon"/> <!--3-->

                <div class="card-body">
                    <span class="badge badge-primary">Speed : {{stats.speed}}</span> <!--3-->
                    <span class="badge badge-primary">Attack : {{stats.attack}}</span> <!--3-->
                    <span class="badge badge-primary">Defense : {{stats.defense}}</span> <!--3-->
                    <span class="badge badge-primary">HP : {{stats.hp}}</span> <!--3-->
                </div>
            </div>
        </div>
        {{/type}}{{/team}}
    </div>

</div>
{{/trainer}}

</body>
</html>