{{> layout/header}}

<body>

<div class="container">
    <h1 class="pt-md-5 pb-md-5">Trainers</h1>

    <div class="card-deck">
        {{#trainers}} <!--1-->
        <div class="col-md-3">
            <div class="card shadow-sm mb-3">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{name}}</h4>
                </div>

                <div class="card-body">
                    {{#team}}
                        <img class="card-img-top" src="{{type.sprites.front_default}}" alt="Pokemon"/> <!--3-->
                        <span class="badge badge-secondary">Level {{level}}</span>
                    {{/team}}
                </div>
            </div>
        </div>
        {{/trainers}}
    </div>

</div>

</body>
</html>